:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
    --white: #fff;
    --color-price: #1E2338;
    --color-shadow: rgba(142, 150, 185, 0.25);
  }
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: var(--page-background);
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--blue);
    height: 50vh;
    color: var(--white);
}
header h1{
    margin: 0px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
header p{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 0 0;
    width: 500px;
    text-align: center;
}